In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/Admin/Desktop/Data/Assignments New/Naive Bayes/SalaryData_Test.csv")
data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [3]:
data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [4]:
categorical = [var for var in data.columns if data[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native', 'Salary']

In [5]:
# view the categorical variables

data[categorical].head()

,workclass,education,maritalstatus,occupation,relationship,race,sex,native,Salary
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

In [6]:
# view frequency counts of values in categorical variables

for var in categorical: 
    
    print(data[var].value_counts())

 Private             11021
 Self-emp-not-inc     1297
 Local-gov            1033
 State-gov             667
 Self-emp-inc          572
 Federal-gov           463
 Without-pay             7
Name: workclass, dtype: int64
 HS-grad         4943
 Some-college    3221
 Bachelors       2526
 Masters          887
 Assoc-voc        652
 11th             571
 Assoc-acdm       499
 10th             403
 7th-8th          266
 Prof-school      243
 9th              221
 12th             200
 Doctorate        169
 5th-6th          161
 1st-4th           71
 Preschool         27
Name: education, dtype: int64
 Married-civ-spouse       6990
 Never-married            4872
 Divorced                 2083
 Separated                 472
 Widowed                   450
 Married-spouse-absent     182
 Married-AF-spouse          11
Name: maritalstatus, dtype: int64
 Exec-managerial      1992
 Craft-repair         1990
 Prof-specialty       1970
 Sales                1824
 Adm-clerical         1819
 Other-service        1596
 Machine-op-inspct    1004
 Transport-moving      744
 Handlers-cleaners     696
 Tech-support          508
 Farming-fishing       491
 Protective-serv       332
 Priv-house-serv        89
 Armed-Forces            5
Name: occupation, dtype: int64
 Husband           6203
 Not-in-family     3976
 Own-child         2160
 Unmarried         1576
 Wife               685
 Other-relative     460
Name: relationship, dtype: int64
 White                 12970
 Black                  1411
 Asian-Pac-Islander      408
 Amer-Indian-Eskimo      149
 Other                   122
Name: race, dtype: int64
 Male      10147
 Female     4913
Name: sex, dtype: int64
 United-States                 13788
 Mexico                          293
 Philippines                      95
 Puerto-Rico                      66
 Germany                          65
 Canada                           56
 El-Salvador                      47
 India                            47
 China                            45
 Cuba                             41
 England                          33
 Italy                            32
 Japan                            30
 Dominican-Republic               30
 South                            30
 Portugal                         28
 Haiti                            27
 Columbia                         26
 Poland                           25
 Jamaica                          23
 Guatemala                        23
 Greece                           20
 Vietnam                          19
 Ecuador                          16
 Nicaragua                        15
 Peru                             15
 Iran                             14
 Taiwan                           13
 Ireland                          12
 Thailand                         12
 Hong                              9
 France                            9
 Scotland                          9
 Outlying-US(Guam-USVI-etc)        8
 Cambodia                          8
 Trinadad&Tobago                   8
 Yugoslavia                        7
 Honduras                          7
 Hungary                           5
 Laos                              4
Name: native, dtype: int64
 <=50K    11360
 >50K      3700
Name: Salary, dtype: int64

In [7]:
# view frequency distribution of categorical variables
import numpy as np
for var in categorical: 
    
    print(data[var].value_counts()/np.float(len(data)))

 Private             0.731806
 Self-emp-not-inc    0.086122
 Local-gov           0.068592
 State-gov           0.044290
 Self-emp-inc        0.037981
 Federal-gov         0.030744
 Without-pay         0.000465
Name: workclass, dtype: float64
 HS-grad         0.328220
 Some-college    0.213878
 Bachelors       0.167729
 Masters         0.058898
 Assoc-voc       0.043293
 11th            0.037915
 Assoc-acdm      0.033134
 10th            0.026760
 7th-8th         0.017663
 Prof-school     0.016135
 9th             0.014675
 12th            0.013280
 Doctorate       0.011222
 5th-6th         0.010691
 1st-4th         0.004714
 Preschool       0.001793
Name: education, dtype: float64
 Married-civ-spouse       0.464143
 Never-married            0.323506
 Divorced                 0.138313
 Separated                0.031341
 Widowed                  0.029880
 Married-spouse-absent    0.012085
 Married-AF-spouse        0.000730
Name: maritalstatus, dtype: float64
 Exec-managerial      0.132271
 Craft-repair         0.132138
 Prof-specialty       0.130810
 Sales                0.121116
 Adm-clerical         0.120784
 Other-service        0.105976
 Machine-op-inspct    0.066667
 Transport-moving     0.049402
 Handlers-cleaners    0.046215
 Tech-support         0.033732
 Farming-fishing      0.032603
 Protective-serv      0.022045
 Priv-house-serv      0.005910
 Armed-Forces         0.000332
Name: occupation, dtype: float64
 Husband           0.411886
 Not-in-family     0.264011
 Own-child         0.143426
 Unmarried         0.104648
 Wife              0.045485
 Other-relative    0.030544
Name: relationship, dtype: float64
 White                 0.861222
 Black                 0.093692
 Asian-Pac-Islander    0.027092
 Amer-Indian-Eskimo    0.009894
 Other                 0.008101
Name: race, dtype: float64
 Male      0.673772
 Female    0.326228
Name: sex, dtype: float64
 United-States                 0.915538
 Mexico                        0.019456
 Philippines                   0.006308
 Puerto-Rico                   0.004382
 Germany                       0.004316
 Canada                        0.003718
 El-Salvador                   0.003121
 India                         0.003121
 China                         0.002988
 Cuba                          0.002722
 England                       0.002191
 Italy                         0.002125
 Japan                         0.001992
 Dominican-Republic            0.001992
 South                         0.001992
 Portugal                      0.001859
 Haiti                         0.001793
 Columbia                      0.001726
 Poland                        0.001660
 Jamaica                       0.001527
 Guatemala                     0.001527
 Greece                        0.001328
 Vietnam                       0.001262
 Ecuador                       0.001062
 Nicaragua                     0.000996
 Peru                          0.000996
 Iran                          0.000930
 Taiwan                        0.000863
 Ireland                       0.000797
 Thailand                      0.000797
 Hong                          0.000598
 France                        0.000598
 Scotland                      0.000598
 Outlying-US(Guam-USVI-etc)    0.000531
 Cambodia                      0.000531
 Trinadad&Tobago               0.000531
 Yugoslavia                    0.000465
 Honduras                      0.000465
 Hungary                       0.000332
 Laos                          0.000266
Name: native, dtype: float64
 <=50K    0.754316
 >50K     0.245684
Name: Salary, dtype: float64

In [8]:
# check frequency distribution of values in native_country variable

data.native.value_counts()

 United-States                 13788
 Mexico                          293
 Philippines                      95
 Puerto-Rico                      66
 Germany                          65
 Canada                           56
 El-Salvador                      47
 India                            47
 China                            45
 Cuba                             41
 England                          33
 Italy                            32
 Japan                            30
 Dominican-Republic               30
 South                            30
 Portugal                         28
 Haiti                            27
 Columbia                         26
 Poland                           25
 Jamaica                          23
 Guatemala                        23
 Greece                           20
 Vietnam                          19
 Ecuador                          16
 Nicaragua                        15
 Peru                             15
 Iran                             14
 Taiwan                           13
 Ireland                          12
 Thailand                         12
 Hong                              9
 France                            9
 Scotland                          9
 Outlying-US(Guam-USVI-etc)        8
 Cambodia                          8
 Trinadad&Tobago                   8
 Yugoslavia                        7
 Honduras                          7
 Hungary                           5
 Laos                              4
Name: native, dtype: int64

In [9]:
data[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
Salary           0
dtype: int64

In [10]:
# find numerical variables

numerical = [var for var in data.columns if data[var].dtype!='O']

print('There are {} numerical variables\n'.format(len(numerical)))

print('The numerical variables are :', numerical)

There are 5 numerical variables

The numerical variables are : ['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']

In [11]:
# view the numerical variables

data[numerical].head()  #five numerical variable and all are discrete

   age  educationno  capitalgain  capitalloss  hoursperweek
0   25            7            0            0            40
1   38            9            0            0            50
2   28           12            0            0            40
3   44           10         7688            0            40
4   34            6            0            0            30

In [12]:
data[numerical].isnull().sum()

age             0
educationno     0
capitalgain     0
capitalloss     0
hoursperweek    0
dtype: int64

In [13]:
X = data.drop(['Salary'], axis=1)

y = data['Salary']

In [14]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [15]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((10542, 13), (4518, 13))

In [16]:
!pip install category_encoders
import category_encoders as ce

Requirement already satisfied: category_encoders in c:\users\mohan kumar\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\mohan kumar\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\mohan kumar\anaconda3\lib\site-packages (from category_encoders) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in c:\users\mohan kumar\anaconda3\lib\site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\mohan kumar\anaconda3\lib\site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\mohan kumar\anaconda3\lib\site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\mohan kumar\anaconda3\lib\site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: six in c:\users\mohan kumar\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\mohan kumar\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\mohan kumar\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mohan kumar\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\mohan kumar\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)

In [17]:
# encode remaining variables with one-hot encoding

encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 
                                 'race', 'sex', 'native'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [18]:
X_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,education_1,education_2,...,native_31,native_32,native_33,native_34,native_35,native_36,native_37,native_38,native_39,native_40
4324,41,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2179,53,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1906,65,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5206,63,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4659,23,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
X_train.shape

(10542, 102)

In [20]:
cols = X_train.columns

In [21]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [22]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [23]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [24]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

GaussianNB()

In [25]:
y_pred = gnb.predict(X_test)

y_pred

array([' >50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [26]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.8028

In [27]:
y_pred_train = gnb.predict(X_train)

y_pred_train

array([' >50K', ' >50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype='<U6')

In [28]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.8017